.tabcontent {
    display: none;
}

#design1 {
    display: block;
}

.tablinks.active {
    background-color: aliceblue;
}

.imglogo {
}

.as-center {
    background-color: rgba(45,45,45,0.98);
}

.contentLink-text img {
    max-width: 60%;
    margin-left: 0px;
}